<div class="container">
  <div class="title">
    <p>
      About Us
    </p>
  </div>
  <div class="content">
    <p>
      {{content}}
    </p>
  </div>
</div>
<div class=" main d-flex flex-row justify-content-center">

    <div class="second-part ">

    <div class="left">
      <p class="title">dolore magna aliqua</p>
      <p class="content">  {{content}}</p>
<a>more</a>
    </div>
    <div class="right">
      <img class="img-fluid" src="../assets/img/phone.png"/>
    </div>

  </div>
</div>
