<div class="bg-light">
<div class="container">
  <div class="title">
    <p>
      Our clients
    </p>
  </div>
  <div class="row text-center text-lg-left gallery d-flex justify-content-between">

        <div class="col-lg-2 col-md-12 col-xs-12 photo">
          <a href="#" class="d-block mb-4 h-100 ">
            <img  src="../assets/img/google_logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-md-12 col-xs-12 photo">
          <a href="#" class="d-block mb-4 h-100 ">
            <img  src="../assets/img/samsung_logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-md-12 col-xs-12 photo">
          <a href="#" class="d-block mb-4 h-100 ">
            <img  src="../assets/img/flickr_logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-md-12 col-xs-12 photo">
          <a href="#" class="d-block mb-4 h-100 ">
            <img  src="../assets/img/foursquare_logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-md-12 col-xs-12 photo">
          <a href="#" class="d-block mb-4 h-100 ">
            <img  src="../assets/img/pinterest_logo.png" alt="">
          </a>
        </div>
  </div>
</div>
</div>
<div class=" main d-flex flex-row justify-content-center">

    <div class="second-part ">
      <p class="content text-center">"Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away."</p>
      <p class="author text-right">-John Doe</p>
  </div>
</div>
