<div class="container-fluid main">
  <div class="container">
    <div class="title">
      <p>
        Get In Touch
      </p>
    </div>
    <div class="social d-flex justify-content-center">
      <div class="social-icons d-flex justify-content-between">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-vimeo"></a>
      <a href="#" class="fa fa-skype"></a>
    </div>
    </div>
    <div class="form-part d-flex justify-content-center">
    <form class="form-group" role="form" method="post"  name="signForm" #signForm="ngForm"  (submit)="loginUser($event)" novalidate>
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <input type="text" class="form-control" ngModel name="name" #name="ngModel" placeholder="Name" required>
                  </div>
                  <div class="col-sm-6 form-group">
                      <input type="email" class="form-control" ngModel name="email" #email="ngModel" placeholder="Email" required>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 form-group">
                      <textarea class="form-control" type="textarea" ngModel name="message" #message="ngModel" placeholder="Message" maxlength="6000" rows="7"></textarea>
                  </div>
              </div>
              <div class="button d-flex flex-row justify-content-center">
              <button type="button" class="btn" type="submit" value="Submit"  [disabled]="!signForm.form.valid" >Send</button>
            </div>
          </form>
        </div>

  </div>
</div>
