<div class="container-fluid main">
  <div class="container">
    <div class="title">
      <p>
        Get In Touch
      </p>
    </div>
    <div class="social d-flex justify-content-center">
      <div class="social-icons d-flex justify-content-between">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-vimeo"></a>
      <a href="#" class="fa fa-skype"></a>
    </div>
    </div>
    <div class="form-part d-flex justify-content-center">
    <form class="form " role="form" method="post" id="reused_form">
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                  </div>
                  <div class="col-sm-6 form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 form-group">
                      <textarea class="form-control" type="textarea" name="message" placeholder="Message" id="message" maxlength="6000" rows="7"></textarea>
                  </div>
              </div>
              <div class="button d-flex flex-row justify-content-center">
              <button type="button" class="btn">Send</button>
            </div>
          </form>
        </div>

  </div>
</div>
