<div class="container">
  <div class="title">
    <p>
      Our Skills
    </p>
  </div>
  <div class="skill-content row">
  <div class="left col-lg-6 col-xs-12">
    <p class="title-left ">perfect layout & efficient coding</p>
    <p class="content ">Hi, my name is Arif Samad, I’m 28 and I’m a UI / UX Engineer and mentor based in Karachi, Pakistan. I started designing long ago with basic knowledge of Adobe Photoshotp, Illustrator and Dreamweaver. </p>
  </div>
  <div class="right col-lg-6 col-xs-12">
    <p>PHOTOSHOP</p>
    <div class="progress" style="height:15px; border-radius:10px">
  <div class="progress-bar" style="width:90%;height:15px;border-radius:10px"></div>
</div>
<p>ILLUSTRATOR</p>
<div class="progress" style="height:15px;border-radius:10px">
<div class="progress-bar" style="width:95%;height:15px;border-radius:10px"></div>
</div>
<p>HTML 5</p>
<div class="progress" style="height:15px;border-radius:10px">
<div class="progress-bar" style="width:80%;height:15px;border-radius:10px"></div>
</div>
<p>CSS 3</p>
<div class="progress" style="height:15px;border-radius:10px">
<div class="progress-bar" style="width:70%;height:15px;border-radius:10px"></div>
</div>
<p>JAVASCRIPT</p>
<div class="progress" style="height:15px;border-radius:10px">
<div class="progress-bar" style="width:50%;height:15px;border-radius:10px"></div>
</div>
  </div>
</div>
</div>
